<ion-view title="About">
	<ion-content class="padding">

		<div class="list card">
			<div class="item item-divider">
				<h1>About CoffeeTime</h1>
			</div>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-cube"></i>
				<label>Cordova Version:</label> {{cordova}}
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-pound"></i>
				<label>Model:</label> {{model}}
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-iphone"></i>
				<label>Platform:</label> {{platform}}
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-code-working"></i>
				<label>Version:</label> {{version}}
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-card"></i>
				<label>UUID:</label> {{uuid}}
			</a>

		</div>

	</ion-content>
</ion-view>
